* {

    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

li {

    list-style: none;
    display: inline-block
}

a {

    text-decoration: none;
    transition: all 500ms ease-in-out;
}

a:hover,
a:active {
    /*text-decoration: none;*/
}

h1,
h2,
h4 {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}


p {
    font-size: 15px;
    line-height: 21px;
}

#services p{
  font-size: 30px;
}

.btn {

    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
    background-color: rgba(172, 41, 37, 1);
}

.btn:hover {

    background-color: #ededed !important;
    color: #000000 !important;
}


/*NAVIGATION*/


.navbar {

    background-color: #222222 !important;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-weight: 700;
}

.navbar a {

    color: #fff !important;
    opacity: 0.7;
}


.navbar a:hover {

    opacity: 1;
    background-color: #111111 !important;
}



/*HEADER*/

.header {

    height: 700px;
    width: 100%;
    padding: 30px 0 30px;
    margin-top: 50px;
    background-image: url(../images/bg5.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    /*background-size: 100%;*/
    color: #fff;
    /*background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgba(255,0,0,1));
    background: -o-linear-gradient(right, rgba(255,0,0,0), rgba(255,0,0,1));
    background: -moz-linear-gradient(right, rgba(255,0,0,0), rgba(255,0,0,1));
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); */
}


  @media screen and (min-width: 1700px) {
    .header {
      background-image: url(../images/bg4.png);
      height: 1100px;
    }
  }



.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.header .col-xs-12 img{
  height: 20%;
  margin-bottom: 35px;
}

 .header img {

    margin: 70px 0 0 40px;
}

.header h1 {
    color:black;
    font-size: 40px;
    font-weight: 700;
    padding-top: 30px;
}

.header h1,
.header p,
.header button {

    margin-top: 20px;
}

.header .btn {

    border-radius: 0;
    margin: 40px 20px;
}


@media(max-width:768px) {

    .header {

        padding: 30px;
        height: 750px;
    }

    .header img {

        width: 90%;
        height: 300px;
        margin: 20px 0 0 20px;
    }

    .header .btn {

        font-size: 10px;
        margin-left: 20px;
    }

    .header h1 {

        font-size: 20px;
    }

    .header p {

        font-size: 10px;
    }
}

/*video*/

.bgvideo{

    padding: 50px 0 50px;
    background-color: #f1f1f1;

}

#video h2{
  color:#262626;
  margin-top: 35px;
  margin-bottom: 35px;
}

/*#video iframe{
  margin-top: 35px;
  margin-bottom: 35px;
}*/

#video button{
  margin-top: 35px;
}

/*vender*/


#vender .venderecha{
  margin-top: 50px;
  margin-bottom: 50px;
}

#vender h2{
  margin-top: 35px;
  margin-bottom: 20px;
}

#vender p{
  font-size: 20px;
}


#vender .img-responsive{
  width: 300px;
}


/*SERVICES*/

.services {

    padding: 50px 0 50px;
    text-align: center;
    background-color: #f1f1f1;
}

#services h2{
margin-bottom: 50px;

}
.services h4 {

    color: #4c4c4c;
    /*margin: 10px 0 20px;*/
}


.services p {

    color: #737373;
    font-size: 14px;
    line-height: 35px;
    padding-bottom: 40px;
}


.services i {

    height: 80px;
    width: 80px;
    font-size: 30px;
    padding: 25px 20px;
    border-radius: 50%;
    background-color:rgba(217, 83, 79, 1);
    color: #fff;
}


@media(max-width:768px) {

    .services {

        padding: 30px;
    }
}


/*Mensaje*/

.Mensaje-bg1 {

    background-color: #cc4400;
    /*background-image: url(../images/prueba.png);*/
}

.Mensaje-bg2 {

    background-color: #009944;
    /*background-image: url(../images/prueba.png);*/
}

.Mensaje {

    padding: 50px 0 80px;
    text-align: center;
}

.Mensaje h1{

  color: #fff;
  padding-bottom: 70px;
}

.Mensaje img{

  padding-bottom: 70px;
}

.Mensaje .img-responsive{
  width: 300px;
}

/*PRICING*/

#pricing .pricing {

    padding: 50px 0 80px;
    text-align: center;
    background-color: #f1f1f1;
}


#pricing .pricing h2, #pricing .pricing p {

    color:black;
}

#pricing .pricing p {

    padding-bottom: 30px;
    font-size: 20px;
}


#aprenderas .pricing {

    padding: 50px 0 80px;
    text-align: center;
    background-color: #3399ff;
    /*background-image: url(../images/prueba.png);*/
}

#aprenderas .pricing h4, #aprenderas .pricing h2{

  color: #fff;
  padding-bottom: 70px;
}


#aprenderas .pricing p {

    color: #fff;
    padding-bottom: 40px;
}


.pricing .packages {

    padding: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 30px;
}


.packages li {

    display: block;
    padding: 5px;
}

.packages h4,
.packages h1,
.packages b {
    font-size: 25px;
    color: rgba(217, 83, 79, 1);
    /*color: #4c4c4c;*/
}

.packages p,
.packages li {
    font-size: 20px;
    color: #737373;
}

.packages button {

    margin-top: 10px;
}




@media(max-width:768px) {

    .pricing {

        padding: 30px;
    }

    .packages {

        width: 80%;
        margin-left: 25px;
    }
}


/*TEAM*/

.team {

    padding: 50px 0 80px;
    text-align: center;
}

.team b{
  margin: 20px 0 20px;
  color:#696969;
}
.team h2,
.team h4 {

    margin: 20px 0 20px;
    color:rgba(217, 83, 79, 1);
}

.team .img-responsive{
  border: none;
  margin-top: -60px;
  margin-bottom: 8px;
  width: 280px;
  height: 240px;

}

.team p {

    color: #737373;
}

.team img {

    height: 150px;
    width: 150px;
    margin-top: 80px;
    border: solid;
    border-width: .4px;
}



.team i {

    height: 30px;
    width: 30px;
    padding: 5px;
    font-size: 17px;
    border-radius: 50%;
    background-color: #606060;
    color: #fff;
}

.team a:hover i {

    background-color: #709963;
}


/*CLINTS*/

.clients {

    padding: 50px 0 90px;
    background-color: #f1f1f1;
    text-align: center;
    color: black;
}

.clients h2 {

    color: black;
}

.clients p {

    padding-bottom: 40px;
}

.clients img {

    opacity: 0.8;
    padding-bottom: 40px;
    transition: all 500ms ease-in-out;
}


.clients li:hover img {

    opacity: 1;
}


/*CONTACT*/

.contact {

    padding: 50px 0 80px;
    text-align: center;
}

.contact p {

    color: #737373;
}

.contact h2 {

    color: #4c4c4c;
    padding-bottom: 80px;
    margin: 20px 0 20px;
}

.contact .well h2 {

    color: #4c4c4c;
    padding-bottom: 15px;
    margin: 20px 0 20px;
}

.contact .input-group {

    margin-bottom: 25px;
}

.contact .form-control {

    border-radius: 0 !important;
}

.contact span {

    border-radius: 0 !important;
}

.contact .btn {

    border-radius: 0;
    width: 100%;
    font-size: 15px;
    background-color: #3399ff;
    color: #fff;
}

.contact .btn:hover {

    background-color: #a85959 !important;
    color: #fff !important;
}


/*FOOTER*/

.footer {

    padding: 30px;
    color: #cccccc;
    background-color: #222222;
}


.footer .social {

    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    margin-right: 5px;
}


.footer input {

    height: 40px;
    width: 160px;
    padding: 5px;
    border: none;
    background-color: #cccccc;
    color: #000;
}

.footer .btn {

    padding: 10px 5px 10px;
    margin: -3px 0 0 5px;
}

.well {
  text-align: center;
  font-size: 16px;

}


<style type="text/css">
#af-form-796006939 .af-body .af-textWrap{width:98%;display:block;float:none;}
#af-form-796006939 .af-body .privacyPolicy{color:#444444;font-size:16px;font-family:Helvetica, sans-serif;}
#af-form-796006939 .af-body a{color:#777777;text-decoration:underline;font-style:normal;font-weight:normal;}
#af-form-796006939 .af-body input.text, #af-form-796006939 .af-body textarea{background-color:#FFFFFF;border-color:#D9D9D9;border-width:1px;border-style:solid;color:#C7C7C7;text-decoration:none;font-style:normal;font-weight:normal;font-size:24px;font-family:Trebuchet MS, sans-serif;}
#af-form-796006939 .af-body input.text:focus, #af-form-796006939 .af-body textarea:focus{background-color:#FFFAD6;border-color:#030303;border-width:1px;border-style:solid;}
#af-form-796006939 .af-body label.previewLabel{display:block;float:none;text-align:left;width:auto;color:#CCCCCC;text-decoration:none;font-style:normal;font-weight:normal;font-size:39px;font-family:Helvetica, sans-serif;}
#af-form-796006939 .af-body{padding-bottom:15px;padding-top:15px;background-repeat:no-repeat;background-position:inherit;background-image:none;color:#444444;font-size:16px;font-family:Helvetica, sans-serif;}
#af-form-796006939 .af-header{padding-bottom:5px;padding-top:20px;padding-right:15px;padding-left:15px;background-color:#FFFFFF;background-repeat:no-repeat;background-position:inherit;background-image:none;border-width:1px;border-bottom-style:none;border-left-style:none;border-right-style:none;border-top-style:none;color:#444444;font-size:16px;font-family:Helvetica, sans-serif;}
#af-form-796006939 .af-quirksMode .bodyText{padding-top:2px;padding-bottom:2px;}
#af-form-796006939 .af-quirksMode{padding-right:60px;padding-left:60px;}
#af-form-796006939 .af-standards .af-element{padding-right:60px;padding-left:60px;}
#af-form-796006939 .bodyText p{margin:1em 0;}
#af-form-796006939 .buttonContainer input.submit{background-image:url("https://forms.aweber.com/images/auto/gradient/button/013.png");background-position:top left;background-repeat:repeat-x;background-color:#000013;border:1px solid #000013;color:#FFFFFF;text-decoration:none;font-style:normal;font-weight:normal;font-size:24px;font-family:Helvetica, sans-serif;}
#af-form-796006939 .buttonContainer input.submit{width:auto;}
#af-form-796006939 .buttonContainer{text-align:center;}
#af-form-796006939 body,#af-form-796006939 dl,#af-form-796006939 dt,#af-form-796006939 dd,#af-form-796006939 h1,#af-form-796006939 h2,#af-form-796006939 h3,#af-form-796006939 h4,#af-form-796006939 h5,#af-form-796006939 h6,#af-form-796006939 pre,#af-form-796006939 code,#af-form-796006939 fieldset,#af-form-796006939 legend,#af-form-796006939 blockquote,#af-form-796006939 th,#af-form-796006939 td{float:none;color:inherit;position:static;margin:0;padding:0;}
#af-form-796006939 button,#af-form-796006939 input,#af-form-796006939 submit,#af-form-796006939 textarea,#af-form-796006939 select,#af-form-796006939 label,#af-form-796006939 optgroup,#af-form-796006939 option{float:none;position:static;margin:0;}
#af-form-796006939 div{margin:0;}
#af-form-796006939 fieldset{border:0;}
#af-form-796006939 form,#af-form-796006939 textarea,.af-form-wrapper,.af-form-close-button,#af-form-796006939 img{float:none;color:inherit;position:static;background-color:none;border:none;margin:0;padding:0;}
#af-form-796006939 input,#af-form-796006939 button,#af-form-796006939 textarea,#af-form-796006939 select{font-size:100%;}
#af-form-796006939 p{color:inherit;}
#af-form-796006939 select,#af-form-796006939 label,#af-form-796006939 optgroup,#af-form-796006939 option{padding:0;}
#af-form-796006939 table{border-collapse:collapse;border-spacing:0;}
#af-form-796006939 ul,#af-form-796006939 ol{list-style-image:none;list-style-position:outside;list-style-type:disc;padding-left:40px;}
#af-form-796006939,#af-form-796006939 .quirksMode{width:100%;max-width:500px;}
#af-form-796006939.af-quirksMode{overflow-x:hidden;}
#af-form-796006939{background-color:#FFFFFF;border-color:#CFCFCF;border-width:1px;border-style:none;}
#af-form-796006939{display:block;}
#af-form-796006939{overflow:hidden;}
.af-body .af-textWrap{text-align:left;}
.af-body input.image{border:none!important;}
.af-body input.submit,.af-body input.image,.af-form .af-element input.button{float:none!important;}
.af-body input.text{width:100%;float:none;padding:2px!important;}
.af-body.af-standards input.submit{padding:4px 12px;}
.af-clear{clear:both;}
.af-element label{text-align:left;display:block;float:left;}
.af-element{padding-bottom:5px;padding-top:5px;}
.af-form-wrapper{text-indent:0;}
.af-form{text-align:left;margin:auto;}
.af-header{margin-bottom:0;margin-top:0;padding:10px;}
.af-quirksMode .af-element{padding-left:0!important;padding-right:0!important;}
.lbl-right .af-element label{text-align:right;}
body {
}
#af-form-796006939 {
  border-radius: 6px !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 2px;
  font-size: 16px;
}
#af-form-796006939 .af-body {
  padding: 1.5rem 0 1.75rem !important;
}
#af-form-796006939 .af-body .af-element {
  margin-top: 1rem !important;
  padding: 0 1.5rem !important;
}
#af-form-796006939 .af-body .af-element:first-child {
  margin-top: 0 !important;
}
#af-form-796006939 .af-body label.previewLabel {
  color: #444444 !important;
  font-size: 0.8rem !important;
  font-weight: 700 !important;
  margin-bottom: 0.25rem !important;
}
#af-form-796006939 .af-body input.text {
  background-color: #ebf0f2 !important;
  border: 0 !important;
  border-top: 2px solid #d6dee3 !important;
  border-radius: 3px !important;
  box-sizing: border-box !important;
  color: #444444 !important;
  font-size: 1rem !important;
  margin-top: 0.25rem !important;
  padding: 8px 12px !important;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
#af-form-796006939 .af-body input.text:focus {
  outline: none;
  background-color: #abdbef !important;
}
#af-form-796006939 .af-body select {
  width: 100%;
}
#af-form-796006939 .af-body .af-dateWrap select {
  width: 33%;
}
#af-form-796006939 .choiceList-radio-stacked {
  margin-bottom: 1rem !important;
  width: 100% !important;
}
#af-form-796006939 .af-element-radio {
  margin: 0 !important;
}
#af-form-796006939 .af-element-radio input.radio {
  display: none !important;
}
#af-form-796006939 .af-element-radio input.radio:checked ~ label {
  font-weight: 700 !important;
}
#af-form-796006939 .af-element-radio input.radio:checked ~ label:before {
  background-color: #ebf0f2;
  border-color: #d6dee3;
}
#af-form-796006939 .af-element-radio label.choice {
  border: 1px solid #d6dee3;
  border-radius: 3px !important;
  display: block !important;
  font-weight: 300 !important;
  margin: 0.5rem 0 !important;
  padding: 1rem 1rem 1rem 2rem !important;
  position: relative;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
#af-form-796006939 .af-element-radio label.choice:before {
  background-color: #FFF;
  border: 1px solid #d6dee3;
  border-radius: 50%;
  content: '';
  height: 0.75rem;
  margin-left: -1.3rem;
  position: absolute;
  margin-top: -0.05rem;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  width: 0.75rem;
}
#af-form-796006939 .buttonContainer {
  box-sizing: border-box !important;
}
#af-form-796006939 .af-footer {
  background: #ebf0f2 !important;
  box-shadow: inset rgba(0, 0, 0, 0.1) 0 6px 6px -6px;
  box-sizing: border-box !important;
  text-align: center;
}
#af-form-796006939 .af-footer p {
  margin: 0 !important;
}
#af-form-796006939 input.submit,
#af-form-796006939 #webFormSubmitButton {
  background-color: #333333;
  background-image: none;
  border-radius: 3px !important;
  font-size: 1rem !important;
  margin-top: 0.5rem !important;
  padding: 0.6rem 2.5rem !important;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  width: 100% !important;
}
#af-form-796006939 input.submit:hover,
#af-form-796006939 #webFormSubmitButton:hover {
  cursor: pointer;
  opacity: 0.9;
}
#af-form-796006939 input.text {
  background-image: none !important;
  border-radius: 3px !important;
  font-size: 1rem !important;
  margin-top: 0.5rem !important;
  padding: 0.6rem 2.5rem !important;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  width: 100% !important;
}
#af-form-796006939 input.text:hover {
  cursor: pointer;
  opacity: 0.9;
}

.poweredBy a,
.privacyPolicy p {
  font-size: 0.75rem !important;
}
</style>
