* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

li {
  list-style: none;
  display: inline-block
}

a {
  text-decoration: none;
  transition: all 500ms ease-in-out;
}

a:hover, a:active {
  /*text-decoration: none;*/
}

h1,
h2,
h4 {
    font-family:'Roboto', sans-serif;
    /*text-transform: uppercase;*/
    font-weight: 700;
}

@media screen and (max-width: 450px) {
  h1{
      font-size: 30px;
    }
}

p {
  font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    line-height: 21px;
}

#services p {
  font-size: 30px;
}

#header h1{
  padding-top:80px;
}

.btn {
  transition: all 300ms ease-in-out;
  font-weight: 500 !important;
  text-transform: uppercase;
  background-color: #b3b300;
  color: white;
}

.btn:hover {
  background-color: #ededed !important;
  color: #000000 !important;
}

.jumbotron {

background-color: #b3b300;
opacity: 0.8;
color: white;

}

/*NAVIGATION*/

    background-color: #222222 !important;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: 700;
}

.navbar a {
  color: #fff !important;
  opacity: 0.7;
}

.navbar a:hover {
  opacity: 1;
  background-color: #9b9b9b !important;
}

#bancos p{
  font-size: 20px;
}

#bancos li{
  list-style: georgian;
  display: inherit;
}

/*HEADER*/

.header {
  height: 700px;
  width: 100%;
  padding: 30px 0 30px;
  margin-top: 50px;
  background-image: url(../images/bg5.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-size: 100%;*/
  color: #fff;
  /*background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgba(255,0,0,1));
    background: -o-linear-gradient(right, rgba(255,0,0,0), rgba(255,0,0,1));
    background: -moz-linear-gradient(right, rgba(255,0,0,0), rgba(255,0,0,1));
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); */
}

@media screen and (min-width: 1700px) {
  .header {
    background-image: url(../images/bg4.png);
    height: 1100px;
  }
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header .col-xs-12 img {
  height: 20%;
  margin-bottom: 35px;
}

.header img {
  margin: 70px 0 0 40px;
}

.header h1 {
  color: black;
  font-size: 40px;
  font-weight: 700;
  padding-top: 30px;
}

.header h1, .header p, .header button {
  margin-top: 20px;
}

.header .btn {
  border-radius: 0;
  margin: 40px 20px;
}

@media(max-width:768px) {
  .header {
    padding: 30px;
    height: 750px;
  }
  .header img {
    width: 300px;
    height: 300px;
    margin: 20px 0 0 20px;
  }

  .header h1 {
    font-size: 30px;
  }

}


/*video*/

.bgvideo {
  padding: 50px 0 50px;
  background-color: #f1f1f1;
}

#video h2 {
  color: #262626;
  margin-top: 35px;
  margin-bottom: 35px;
}


/*#video iframe{
  margin-top: 35px;
  margin-bottom: 35px;
}*/

#video button {
  margin-top: 35px;
}


/*vender*/

#vender .venderecha {
  margin-top: 50px;
  margin-bottom: 50px;
}

#vender h2 {
  margin-top: 35px;
  margin-bottom: 20px;
}

#vender p {
  font-size: 20px;
}

#vender img{

}
#vender .img-responsive{
  width: 300px;
}

.foto{
     box-shadow: 10px 10px 5px grey;
}

/*SERVICES*/

.services {
  padding: 50px 0 50px;
  text-align: center;
  background-image: url(../images/evento2.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#services h2 {
  margin-bottom: 50px;
  color: white;
}



.services h4 {
  color: white;
  /*margin: 10px 0 20px;*/
}

.services p {
  color: white;
  font-size: 14px;
  line-height: 35px;
  padding-bottom: 25px;
}

.services i {
  height: 80px;
  width: 80px;
  font-size: 30px;
  padding: 25px 20px;
  border-radius: 50%;
  background-color: rgba(217, 83, 79, 1);
  color: #fff;
}

@media(max-width:768px) {
  .services {
    padding: 30px;
  }
}


/*Mensaje*/

.Mensaje-bg1 {

  background-image: url(../images/Frase1.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.Mensaje-bg2 {

  padding: 0px 0 42px;
  background-image: url(../images/Frase2.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.Mensaje {
  text-align: center;
}

.Mensaje h1 {
  color: white;
  padding-bottom: 70px;
}

.Mensaje img {
  margin-top: 35px;
  padding-bottom: 20px;
}

.Mensaje .img-responsive {
  width: 250px;
}


/*PRICING*/

#pricing .pricing {
  padding: 50px 0 80px;
  text-align: center;
  background-color: #f1f1f1;
}

#pricing .pricing h2, #pricing .pricing p {
  color: black;
}

#pricing .pricing p {
  padding-bottom: 30px;
  font-size: 20px;
}

#aprenderas .pricing {
  padding: 50px 0 80px;
  text-align: center;
  background-image: url(../images/Aprenderas.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#aprenderas .pricing h4, #aprenderas .pricing h2 {
  color: #fff;
  padding-bottom: 70px;
}

#aprenderas .pricing p {
  color: #fff;
  padding-bottom: 40px;
}

.pricing .packages {
  padding: 30px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 30px;
}

.packages li {
  display: block;
  padding: 5px;
}

.packages h4, .packages h1, .packages b {
  font-size: 25px;
  color: rgba(217, 83, 79, 1);
  /*color: #4c4c4c;*/
}

.packages p, .packages li {
  font-size: 20px;
  color: #737373;
}

.packages button {
  margin-top: 10px;
}

@media(max-width:768px) {
  .pricing {
    padding: 30px;
  }
  .packages {
    width: 80%;
    margin-left: 25px;
  }
}

#promociones h1 {
  color: white;
  font-size: 50px;
  font-weight: 600;
  margin-top: -10px;
}

#promociones h4{
color: white;
font-size: 30px;

}

@media screen and (max-width: 450px) {
  #promociones h1 {
    font-size: 38px;
  }

  #promociones h4{
  font-size: 28px;

  }
}


/*TEAM*/

.team {
  padding: 50px 0 80px;
  text-align: center;
}

.team b{
  font-size: 17px;
  margin: 20px 0 20px;
  color: #696969;
}

.team h2, .team h4 {
  margin: 20px 0 20px;
  color: rgba(217, 83, 79, 1);
}

.team .img-responsive {
  border: none;
  margin-top: -60px;
  margin-bottom: 8px;
  width: 280px;
  height: 240px;
}

.team p {

    font-size: 16px;
    color: #737373;
}

.team img {
  height: 150px;
  width: 150px;
  margin-top: 30px;
  border: solid;
  border-width: .4px;
}

.team i {
  height: 30px;
  width: 30px;
  padding: 5px;
  font-size: 17px;
  border-radius: 50%;
  background-color: #606060;
  color: #fff;
}

.team a:hover i {
  background-color: #709963;
}


/*CLINTS*/

.clients {
  padding: 50px 0 90px;
  background-color: #f1f1f1;
  text-align: center;
  color: black;
}

.clients h2 {
  color: black;
}

.clients p {
  padding-bottom: 40px;
}

.clients img {
  opacity: 0.8;
  padding-bottom: 40px;
  transition: all 500ms ease-in-out;
}

.clients li:hover img {
  opacity: 1;
}


/*CONTACT*/

.contact {
  padding: 50px 0 80px;
  text-align: center;
}

.contact p {
  color: #737373;
}

.contact h2 {
  color: #4c4c4c;
  padding-bottom: 80px;
  margin: 20px 0 20px;
}

.contact .well h2 {
  color: #4c4c4c;
  padding-bottom: 15px;
  margin: 20px 0 20px;
}

.contact .input-group {
  margin-bottom: 25px;
}

.contact .form-control {
  border-radius: 0 !important;
}

.contact span {
  border-radius: 0 !important;
}

.contact .btn {
  border-radius: 0;
  width: 100%;
  font-size: 15px;
  background-color: #3399ff;
  color: #fff;
}

.contact .btn:hover {
  background-color: #a85959 !important;
  color: #fff !important;
}


/*FOOTER*/

.footer {
  padding: 30px;
  color: #cccccc;
  background-color: #222222;
}

.footer .social {
  font-size: 20px;
  height: 30px;
  width: 30px;
  text-align: center;
  padding: 5px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  margin-right: 5px;
}

.footer input {
  height: 40px;
  width: 160px;
  padding: 5px;
  border: none;
  background-color: #cccccc;
  color: #000;
}

.footer .btn {
  padding: 10px 5px 10px;
  margin: -3px 0 0 5px;
}

.well {
  text-align: center;
  font-size: 16px;
}

/*Gracias*/

#gracias .container{
  padding-top: 150px;
  text-align: center;
}

#gracias .img-responsive{
  width: 300px;
}


/*Payu*/

#bancos .bancos{
  background-color: #f1f1f1;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*Aweber*/

<style type="text/css">#af-form-1416930558 .af-body .af-textWrap {
  width: 98%;
  display: block;
  float: none;
}

#af-form-1416930558 .af-body .privacyPolicy {
  color: #CCCCCC;
  font-size: 11px;
  font-family: Verdana, sans-serif;
}

#af-form-1416930558 .af-body a {
  color: #CCCCCC;
  text-decoration: underline;
  font-style: normal;
  font-weight: normal;
}

#af-form-1416930558 .af-body input.text, #af-form-1416930558 .af-body textarea {
  background-color: #FFFFFF;
  border-color: #D9D9D9;
  border-width: 1px;
  border-style: solid;
  color: #C7C7C7;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  font-family: Trebuchet MS, sans-serif;
}

#af-form-1416930558 .af-body input.text:focus, #af-form-1416930558 .af-body textarea:focus {
  background-color: #FFFAD6;
  border-color: #030303;
  border-width: 1px;
  border-style: solid;
}

#af-form-1416930558 .af-body label.previewLabel {
  display: block;
  float: none;
  text-align: left;
  width: auto;
  color: #949494;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  font-family: Helvetica, sans-serif;
}

#af-form-1416930558 .af-body {
  padding-bottom: 15px;
  padding-top: 15px;
  background-repeat: no-repeat;
  background-position: inherit;
  background-image: none;
  color: #CCCCCC;
  font-size: 11px;
  font-family: Verdana, sans-serif;
}

#af-form-1416930558 .af-header {
  padding-bottom: 9px;
  padding-top: 9px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #F5F5F5;
  background-repeat: no-repeat;
  background-position: inherit;
  background-image: none;
  border-width: 1px;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  color: #CCCCCC;
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

#af-form-1416930558 .af-quirksMode .bodyText {
  padding-top: 2px;
  padding-bottom: 2px;
}

#af-form-1416930558 .af-quirksMode {
  padding-right: 60px;
  padding-left: 60px;
}

#af-form-1416930558 .af-standards .af-element {
  padding-right: 60px;
  padding-left: 60px;
}

#af-form-1416930558 .bodyText p {
  margin: 1em 0;
}

#af-form-1416930558 .buttonContainer input.submit {
  background-color: #0479C2;
  background-image: url("images/Boton.png");
  color: #FFFFFF;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  font-family: Helvetica, sans-serif;
}

#af-form-1416930558 .buttonContainer input.submit {
  width: auto;
}

#af-form-1416930558 .buttonContainer {
  text-align: center;
}

#af-form-1416930558 body, #af-form-1416930558 dl, #af-form-1416930558 dt, #af-form-1416930558 dd, #af-form-1416930558 h1, #af-form-1416930558 h2, #af-form-1416930558 h3, #af-form-1416930558 h4, #af-form-1416930558 h5, #af-form-1416930558 h6, #af-form-1416930558 pre, #af-form-1416930558 code, #af-form-1416930558 fieldset, #af-form-1416930558 legend, #af-form-1416930558 blockquote, #af-form-1416930558 th, #af-form-1416930558 td {
  float: none;
  color: inherit;
  position: static;
  margin: 0;
  padding: 0;
}

#af-form-1416930558 button, #af-form-1416930558 input, #af-form-1416930558 submit, #af-form-1416930558 textarea, #af-form-1416930558 select, #af-form-1416930558 label, #af-form-1416930558 optgroup, #af-form-1416930558 option {
  float: none;
  position: static;
  margin: 0;
}

#af-form-1416930558 div {
  margin: 0;
}

#af-form-1416930558 fieldset {
  border: 0;
}

#af-form-1416930558 form, #af-form-1416930558 textarea, .af-form-wrapper, .af-form-close-button, #af-form-1416930558 img {
  float: none;
  color: inherit;
  position: static;
  background-color: none;
  border: none;
  margin: 0;
  padding: 0;
}

#af-form-1416930558 input, #af-form-1416930558 button, #af-form-1416930558 textarea, #af-form-1416930558 select {
  font-size: 100%;
}

#af-form-1416930558 p {
  color: inherit;
}

#af-form-1416930558 select, #af-form-1416930558 label, #af-form-1416930558 optgroup, #af-form-1416930558 option {
  padding: 0;
}

#af-form-1416930558 table {
  border-collapse: collapse;
  border-spacing: 0;
}

#af-form-1416930558 ul, #af-form-1416930558 ol {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: disc;
  padding-left: 40px;
}

#af-form-1416930558, #af-form-1416930558 .quirksMode {
  width: 100%;
  max-width: 481px;
}

#af-form-1416930558.af-quirksMode {
  overflow-x: hidden;
}

#af-form-1416930558 {
  background-color: #F5F5F5;
  border-color: #CFCFCF;
  border-width: 1px;
  border-style: none;
}

#af-form-1416930558 {
  display: block;
}

#af-form-1416930558 {
  overflow: hidden;
}

.af-body .af-textWrap {
  text-align: left;
}

.af-body input.image {
  border: none!important;
}

.af-body input.submit, .af-body input.image, .af-form .af-element input.button {
  float: none!important;
}

.af-body input.text {
  width: 100%;
  float: none;
  padding: 2px!important;
}

.af-body.af-standards input.submit {
  padding: 4px 12px;
}

.af-clear {
  clear: both;
}

.af-element label {
  text-align: left;
  display: block;
  float: left;
}

.af-element {
  padding-bottom: 5px;
  padding-top: 5px;
}

.af-form-wrapper {
  text-indent: 0;
}

.af-form {
  text-align: left;
  margin: auto;
}

.af-header {
  margin-bottom: 0;
  margin-top: 0;
  padding: 10px;
}

.af-quirksMode .af-element {
  padding-left: 0!important;
  padding-right: 0!important;
}

.lbl-right .af-element label {
  text-align: right;
}

body {}

</style>
